
<%= render 'shared/page_title', title: @recipe.name %>

<div class= "container">
  <div class= "row">
    <div class= "col-md-4 pull-right center">
      <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef)  %>
      <p>
        <h4>Brought to you by <%= link_to @recipe.chef.chefname, chef_path(@recipe.chef) %></h4>
      </p>
	  </div>
    <div class= "col-md-8">
      <% if logged_in? && (current_user == @recipe.chef || admin_user?) %>
        <%= link_to "Edit this Recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
      <% end %>
      <% if admin_user? %>
        <%= link_to "[Delete Recipe]", @recipe, method: :delete, data:{confirm: "Are you sure?"} %>
      <% end %>

      <h3 class= "left"><%= @recipe.summary %></h3>
      <div class="show_recipe">
        <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>
      </div>
      <div class= "well">

          <% if @recipe.styles.any? %>
            <p>Style: <%= render @recipe.styles %></p>
          <% end %>
          <% if @recipe.ingredients.any? %>
            <p>Ingredients: <%= render @recipe.ingredients %></p>
          <% end %>     
        <p><strong>Steps:</strong></p>
        <%= simple_format(@recipe.description) %>

        <% if logged_in? %>
          <div class="pull-right">
            <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-up"></i>
              <%= @recipe.count_likes %>
            <% end %> &nbsp&nbsp&nbsp&nbsp
            <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-down"></i>
              <%= @recipe.count_dislikes %>
            <% end %>
          </div>
        <% else %>
          <div class="pull-right">
              <i class="glyphicon glyphicon-thumbs-up"></i>
              <%= @recipe.count_likes %>
                &nbsp&nbsp&nbsp&nbsp
              <i class="glyphicon glyphicon-thumbs-down"></i>
              <%= @recipe.count_dislikes %>
          </div>   
        <% end %>
      </div>
    </div>
  </div>
</div>

<h5><%= link_to "Back to Recipes", recipes_path, class: "btn btn-warning btn-small" %>
</h5>

<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseReviews" aria-expanded="false" aria-controls="collapseReviews">
  See Reviews
</a>

<div class="collapse" id="collapseReviews">
  <% if @recipe.count_reviews == 0 %>
    <h2>Be the first to leave a review</h2>
  <% else %>

    <%= will_paginate @reviews %>

    <div class= "container">
      <div class= "row">
        <div class= "col-md-6">

          <h2>Reviews</h2>

          <% if @current_user_review %>
            <h4 class="your-review-text">Your Review:</h4>
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title"><%= @current_user_review.header %></h3>
              </div>
              <div class="panel-body">
                <%= @current_user_review.body %>
                <br/>
                <i class="glyphicon glyphicon-star-empty"></i>
                <%= @current_user_review.rating %>
              </div>
              <div class="panel-footer">
                <h4>Review by <%= link_to @current_user_review.chef.chefname, chef_path(@current_user_review.chef) %> 
                <% if logged_in? && current_user == @current_user_review.chef %>
                    <span class = 'pull-right'><%= link_to "Edit", '#' %></span>
                <% end %>       
                </h4>
              </div>
            </div>
            <hr/>
            <br/>
          <% end %>

          <% @reviews.each do |review| %>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title"><%= review.header %></h3>
            </div>
            <div class="panel-body">
              <%= review.body %>
              <br/>
              <i class="glyphicon glyphicon-star-empty"></i>
              <%= review.rating %>
            </div>
            <div class="panel-footer">
              <h4>Review by <%= link_to review.chef.chefname, chef_path(review.chef) %> 
              <% if logged_in? && current_user == review.chef %>
                  <span class = 'pull-right'><%= link_to "Edit", '#' %></span>
              <% end %>       
              </h4>
            </div>
          </div>
          <% end %>

        </div>
      </div>
    </div>

  <%= will_paginate @reviews %>

  <% end %>
</div>
