<%= render 'shared/page_title', title: "All Ingredients" %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Recipes", recipes_path %>
  </li>
  <li>
    <%= link_to "Chefs", chefs_path %>
  </li>
  <li>
    <%= link_to "Styles", styles_path %>
  </li>
  <li class="active">
    <%= link_to "Ingredients", ingredients_path %>
  </li>
</ul>

<%= render 'shared/index_ingredients_styles', objs: @ingredients, btn_title: "Ingredient", resource_type: 'ingredients' %>
